.held {
	background-color: red;
}

.notHeld {
	background-color: white;
}
.dice {
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	

	border-color: #E8CA91;
	border-style: solid;
	border-radius: 15px;
}
.numPlayer {
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	margin:0 auto;
	float:left;
}
.dice1 {
	background-image:url('../images/1.png');

}
.dice2 {
	background-image:url('../images/2.png');
}
.dice3 {
	background-image:url('../images/3.png');
}
.dice4 {
	background-image:url('../images/4.png');
}
.dice5 {
	background-image:url('../images/5.png');
}
.dice6 {
	background-image:url('../images/6.png');	
}

.scoreDesc {
	background-color: #3B4354;
}

.totalBox {
	background-color: #3B4354;
}

.totalDesc {
	background-color: #3B4354;
}

.scoreBox {
	background-color: #6D87BB;
}
.fullWidthWrapper {
	width: 800px;
	margin:0 auto;
}
.finalScoreBoard {

}

.winnerMessage {
	font-size: 2em;
}
#mainContent {
	width: 1000px;
	height: 625px;
	margin: 0 auto;
	border-width: 15px;
	border-color: #E8CA91;
	border-style: solid;
	border-radius: 20px;
	background-color: #E8CA91;
}



#title {
	width: 600px;
	margin:0 auto;
	margin-bottom: 30px;
	font-size:4em;
	text-align:center;
}

#selectNumberPlayers {
	width: 600px;
	margin-top:100px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:2em;
}

#numPlayersWrapper {
	width: 400px;
	margin:50px auto;
}
#scoreCard {
	width:450px;
	float:left;
	
}
#scoreCard td {
	width: 200px;
	font-size: 1.2em;
	color: #ffffff;
}

#enterPlayerNames {
	width:500px;
	margin:0 auto;
}

#enterPlayerNames div {
	width:500px;
	margin:0 auto;
	text-align:center;
}

#playerName {
	display: block;
    margin : 0 auto;
}

#playerNameSubmit {
	display: block;
	margin: 0 auto;
}

#startScreen {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
}

#playerInfo {
	width: 240px;
	float:left;
}

#diceContainer {
	
	float:right;
}

#endGame {
	width:500px;
	margin:0 auto;
	text-align:center;
}

#playItAgainSam {
	width:500px;
	margin:0 auto;
	text-align:center;
}

#displayPlayerName {
	font-size:1.5em;
}